* {
	border: none;
	border-radius: 10;
    font-family: "JetbrainsMono Nerd Font" ;
	font-size: 15px;
	min-height: 10px;
}
window#waybar {
	background: transparent;
}
#network {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #ffffff;
    border-bottom: 3px;
    border-style: solid;
    border-color: #ffffff;
    transition: 0.3s;
}
#keyboard-state{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    background: #1c1c1c; 
    color: #ffffff;
    border-bottom: 3px;
    border-style: solid;
    border-color: #ffffff;
    transition: 0.3s;    
}
#keyboard-state:hover{
    color: #1c1c1c; 
    background: #ffffff;
}
#network:hover { 
    color: #1c1c1c;
    background: #ffffff;
}
#custom-keybinds {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #1c1c1c;
    transition: 0.3s;
    border-bottom: 3px;
    border-style: solid;
    border-color: #ffffff;
}
#custom-keybinds:hover { 
    background: #ffffff;
    color: #1c1c1c;
}
#cava{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #ffffff;
    border-bottom: 3px;
    border-style: solid;
    border-color: #ffffff;
    transition: 0.3s; 
}
#cava:hover{
    color: #1c1c1c;
    background: #ffffff;
}
#battery{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #ffffff;
    border-bottom: 3px;
    border-style: solid;
    border-color: #ffffff;
    transition: 0.3s; 
}
#battery:hover{
    color: #1c1c1c;
    background: #ffffff;
}
#backlight:hover{
    color: #1c1c1c;
    background: #ffffff;
}
#backlight{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #ffffff;
    border-bottom: 3px;
    border-style: solid;
    border-color: #ffffff;
    transition: 0.3s; 
}


#language{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #ffffff;
    border-bottom: 3px;
    border-style: solid;
    border-color: #ffffff;
    transition: 0.3s;
}
#language:hover{
    color: #1c1c1c; 
    background: #ffffff; 
}
#pulseaudio {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #ffffff;
    padding: 8px;
    border-bottom: 3px;
    border-style: solid;
    border-color: #ffffff;
    transition: 0.3s;
}
#pulseaudio:hover{ 
    background: #ffffff;
    color: #1c1c1c;
}
#pulseaudio.muted {
    color: #f38ba8;
    background: #1c1c1c; 
    border-bottom: 3px;
    border-style: solid;
    border-color: #f38ba8;
    transition: 0.3s;
}
#pulseaudio.muted:hover {
    background: #f38ba8;
    color: #1c1c1c; 

}
#clock {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #ffffff;
    border-bottom: 3px;
    border-style: solid;
    border-color: #ffffff;
    transition: 0.3s;
}
#clock:hover {
    color: #1c1c1c; 
    background: #ffffff;
}
#disk{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #ffffff;
    border-bottom: 3px;
    border-style: solid;
    border-color: #ffffff;
    transition: 0.3s;
}
#disk:hover{
    color: #1c1c1c; 
    background: #ffffff;
}
#privacy{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #ffffff;
    border-bottom: 3px;
    border-style: solid;
    border-color: #ffffff;
    transition: 0.3s;
}
#idle_inhibitor{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #ffffff;
    border-bottom: 3px;
    border-style: solid;
    border-color: #ffffff;
    transition: 0.3s;
}
#idle_inhibitor.activated{
    color: #ffffff;
    border-color: #ffffff;
}
#idle_inhibitor.activated:hover{
    background: #ffffff;
    color: #1c1c1c;
    border-color: #ffffff;
}
#idle_inhibitor.deactivated{
    color: #ffffff
}
#idle_inhibitor.deactivated:hover{
    color: #1c1c1c; 
    background: #ffffff;
}
#memory {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #ffffff;
    border-bottom: 3px;
    border-style: solid;
    border-color: #ffffff;
    transition: 0.3s;
}
#memory:hover { 
    color: #1c1c1c; 
    background: #ffffff;

}
#cpu {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #ffffff;
    border-bottom: 3px;
    border-style: solid;
    border-color: #ffffff;
    transition: 0.3s;
}
#cpu:hover {
    color: #1c1c1c; 
    background: #ffffff;

}
#custom-launcher {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 17px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #1c1c1c;
    transition: 0.3s;
    border-bottom: 3px;
    border-style: solid;
    border-color: #ffffff;
}
#custom-launcher:hover { 
    background: #ffffff;
    color: #1c1c1c;
}
#network.disconnected {
    color: #f38ba8;
    background: #1c1c1c; 
    border-bottom: 3px;
    border-style: solid;
    border-color: #f38ba8;
}
#network.disconnected:hover {
    background: #f38ba8;
    color: #1c1c1c; 
}
#custom-power {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 17px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #ffffff;
    border-bottom: 3px;
    border-style: solid;
    border-color: #ffffff;
    transition: 0.3s;
}
#custom-power:hover {

    background: #f38ba8;
    color: #1c1c1c;
    border-color: #f38ba8;

}
#workspaces {
    margin-top: 10px;
    margin-left: 8px;
    padding-right: 4px;
    background: #1c1c1c; 
    border-bottom: 3px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    transition: 0.3s;
}
#workspaces button {
    color: #ffffff;
    transition: 0.3s;
}
#workspaces button:hover {
    background: transparent;
    color: transparent;
}
#tray{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #ffffff;
    border-bottom: 3px;
    border-style: solid;
    border-color: #ffffff;
    transition: 0.3s;
}
#tray menu{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #ffffff;
    border-bottom: 3px;
    border-style: solid;
    border-color: #ffffff;
    transition: 0.3s;
}
